body {
    padding:0px;
    margin: 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* Header */
.header_wrapper {
    height:100vh;
    width:100% ;
    background: linear-gradient(-45deg, #050404, #2e1c20, #4a1942, #893168);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}
h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social_media{
    margin: 1rem;
    display: flex;
}
.social_media a{
    text-decoration: none;
    color: #893168;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid whitesmoke;
    min-width: 4rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}
a:hover{
    color: #2e1c2b;
    background: white;
}
@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}
/* menu hamburger*/
/*.checkbox_wrapper{
    height: 50px;
    width: 50px;
}*/
.checkbox_conteiner{
    display: contents;
    justify-content: center;
    align-items: center;
}
.checkbox{ /* */
    height: 100px;
    width: 100px;
    position: absolute;
    /*background-color: #2e1c2b;*/
    top: 10px;
    right: 0px;
    display: flex;
    justify-content: center;
    cursor:pointer;
    z-index: 999;
    transition: 440ms ease-in-out 0;
}
.checkbox .trace {
    width: 50px;
    height: 10px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition: 0.5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}
#toggle{
    display: none;
}
/*menu*/
.menu{  /* é aqui que faz a bolha*/
    position: absolute;
    top: 0;
    right:0vmax;
    background: white;
    height: 48vmax;
    width:48vmax;
    border-radius: 50%;
    box-shadow: 0px 0px 0px  white;
    z-index: -1;
    transition: 400ms ease-in-out 0;
}
.menu_itens{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
   /* opacity: 0;*/
    /*visibility: hidden;*/
    transition: 400ms ease-in-out 1s;
}
.menu_itens ul{
    list-style-type: none;
}
.menu_itens ul li a{
    margin: 0px;
    color: #2e1c2b;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;

}
/* animação do menu*/
#toggle:checked+.checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    background: #2e1c2b;
    top: 47px;
}
#toggle:checked+.checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden ;
    opacity: 0;
}
#toggle:checked+.checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    background-color: #2e1c2b;
    top: 48px;
}
#toggle:checked+.checkbox{
    background-color: white;
}
#toggle:checked~.menu{
    box-shadow: 0px 0px 0px 20vmax white;
    z-index: 1;
}
#toggle:checked+.menu_itens{
    visibility: visible;
    opacity: 1;

}
/*cards*/
.conteiner{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}
.card_conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.card{
    height: 300px;
    width: 400px;
    margin: 3rem 0 0;
    justify-content: space-between;
    background-image: url("Lighthouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.card_text{
    width: 400px;
    font-family: sans-serif, arial;
    letter-spacing: 1px;
    color: rgb(109,109,109);
}
.card_warepper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}
.card_warepper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}
.card_warepper p{
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 00.3s;
}
.card:hover{
    filter: unset;
}
.card:hover>.card_warepper::before{
    opacity: 1;
    width: 300px;
    height: 150px;
}
.footer{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:left;
    align-items:center;
    background-color: #2e1c2b;
}
/*responsivo, ajusta o tamanho para tela mobile*/
@media(max-width:800px){
    .menu{
        height: 85vmax;
        width: 85vmax;
        top: 3vmax;
        right: -15vmax;
    }
    .social_media{
        display: flex;
        flex-direction: column;
    }
    .conteiner{
        margin-top: 0;
    }
    .card_conteiner{
        flex-direction: column;
    }
    .conteiner .card_conteiner:nth-child(1),
    .conteiner .card_conteiner:nth-child(3)
    {
        flex-direction: column-reverse;
    }
    .card{
        height: 250px;
        width: 250px;
    }
    .card_text{
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }
    .card:hover>.card_warepper::before{
        height: 100px;
        width: 250px;
    }
}